.currency {
  display: flex;
  min-height: 100vh;
  align-items: center;
}
.card_container {
  width:70%;
  margin: 0 auto;
  .card {
    box-shadow: var(--shadow);
    padding: 10px 5%;
  }
  .title_container {
    display: flex;
    align-items: center;
    img {
      width: 8rem;
      margin: 10px 10px 10px 0;
    }
    .name {
      font-size: 2rem;
      color: var(--blue3);
      font-weight: bold;
    }
  }

  .info {
    width:100%;
    display: flex;
    flex-direction: column;
    p {
      text-align: left;
    }
    a {
      text-decoration-line: none;
      cursor: pointer;
      color: var(--blue3);
    }
    .social_media {
      display: flex;
      img {
        width: 2rem;
        margin-right: 1rem;
      }
    }
  }
  .actions, .content {
    padding: 16px 0;
  }
}
@media (max-width: 600px) {
  .card_container {
    width: 90%;
  }
}