.card_container {
  .card {
    box-shadow: var(--shadow);
    padding: 10px 5%;
  }
  .title_container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-size: 18px;
    img {
      margin: 10px 10px 10px 0;
    }
    .name {
      font-size: 1.2rem;
      color: var(--blue1);
      font-weight: bold;
    }
  }
  .country_container {
    display: flex;
    justify-content: space-between;
    a {
      text-decoration: none;
      cursor: pointer;
      color: var(--blue3);
    }
  }
  .actions, .content {
    padding: 16px 0;
  }
}
@media (min-width: 900px) {
  .card_container img {
    width: 5rem;
  }
}
