.App {
  --gray: #f7f8fa;
  --blue1: #0e203b;
  --blue2: #21334f;
  --blue3: #093b85;
  --shadow: 0px 2px 1px -1px rgba(0,0,0,0.2),0px 1px 1px 0px rgba(0,0,0,0.14),0px 1px 3px 0px rgba(0,0,0,0.12);
  text-align: center;
  padding: 20px 0;
  background-color: var(--gray);
  a:visited, a:hover, a:focus-within {
    color: var(--blue3);
    text-decoration: none;
  }
  h1 {
    color: var(--blue1);
    margin: 2rem;
  }
  .spinner {
    width: 100vw;
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
  }
  .cardButton {
    text-decoration-line: none;
    background-color: var(--blue3);
    color: #ffffff;
    &:hover {
      background-color: var(--blue3);
    }
  }
}
